extends layout

block layout-content
  h2= title
  ul#weatherList
    li
      h2 City: #{weather.name}
      p Weather: #{weather.weather[0].description}
      p Temperature: #{(weather.main.temp - 273.15).toFixed(1)}°C
      p Feels Like: #{(weather.main.feels_like - 273.15).toFixed(1)}°C

  h2 #{eventsTitle}
  p How's the weather in your area?
  p Let's find the event you can do now.
  ul#eventList
    each category in events
      li
        p 
          a(href=`/category/${category.id}`)= category.name

